# Gradle
.gradle/
**/build/
/app/release/

# Local Android SDK configuration
local.properties

# IDE metadata
.idea/
*.iml
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Signing files
*.jks
*.keystore

# Generated reports
captures/
.fake

# Firebase service account files
*/google-services*.json

# Environment variable files
.env